@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin: 0px;
}

img {
  border-radius: 6px;
  max-width: 100%;
}

a {
  color: black;
}

header {
  /*display: flex;
  flex-wrap: wrap;*/
  
  padding: 30px;
  text-align: center;
}

/*
#main_logo {
  flex: 50%;
  border-radius: 0px;
  padding: 10px;
}

#header_text {
  flex: 50%;
  text-align: right;
  padding: 25px;
}
*/

#name {
  font-weight: bold;
  font-size: xx-large;
}

nav {
  display: flex;
  background-color: #333;
}

nav a { 
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#gh_logo {
  padding: 10px 15px 5px 15px;
}

nav img {
  width: 30px;
}

nav a:hover {
  color: black;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
}

.content {
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding-left: 20px;
}

figure {
  margin: auto;
  /*margin: 10px;*/
  border: 2px #333 solid;
  border-radius: 6px;
  padding: 20px 20px 5px 20px;
  max-width: 50%;
}

#profileimg {
  max-width: 75%;
}

main {
  flex: 60%;
  padding: 20px;
}

main p {
  text-align: justify;
}

aside {
  flex: 20%;
  max-width: 20%;
  padding: 20px;
  background-color: #f1f1f1;
}

aside li {
  padding-bottom: 10px;
}

.tile {
  display: flex;
  flex-wrap: wrap;
}

.tile article {
  flex: 40%;
  max-width: auto;
  padding: 0px 15px 0px 15px;
  border: 2px gray solid;
  border-radius: 6px;
  margin: 5px;
}

.tile figure {
  flex: 40%;
  max-width: auto;
  padding: 15px 15px 5px 15px;
  border: 2px gray solid;
  border-radius: 6px;
  margin: 5px;
}

footer {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #333;
}

footer a {
  color: rgb(189, 212, 255);
  padding: 0;
}

@media screen and 
(max-width: 1500px) {
  figure {
    max-width: 60%;
  }
  .tile figure {
    max-width: auto;
  }
  #profileimg {
    max-width: 100%;
  }
}

@media screen and
(max-width: 1000px) {
  figure {
    max-width: 100%;
  }
  .tile figure {
    max-width: auto;
  }
}

@media screen and 
(max-width: 800px) {
  header, .content {
    flex-direction: column;
  }
  figure {
    max-width: 70%;
  }
  .tile figure {
    max-width: auto;
  }
  aside {
    max-width: 100%;
  }
  aside li {
    padding: 10px;
  }
  #profileimg {
    max-width: 50%;
  }
}

/* Mobile View */
@media only screen 
and (max-width: 510px) {
  figure {
    max-width: 100%;
  }
  #top-contact {
    display: none;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    padding: 25px; 
  }
  .tile {
    flex-direction: column;
  }
  .tile article {
    max-width: 100%;
  }
  .tile figure {
    max-width: 100%;
  }
  #gh_logo {
    padding: 25px 25px 20px 25px;
  }
}