@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Standard elements */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Header */

header {
  padding: 30px;
  text-align: center;
}

#name {
  font-weight: bold;
  font-size: 250%;
}

/* Navigation */

.block-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #333;
}

#fixed-block-navigation {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.block-navigation a {
  margin: 0;
  padding: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.block-navigation a:hover {
  color: black;
  background-color: #ddd;
}

#side-navigation {
  padding: 20px;
  flex: 25%;
}

#outline-navigation li {
  margin: 10px 0;
}

/* Main content containers */

#main-wo-aside {
  padding: 20px 20%;
}

#main-w-aside {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  padding-right: 20%;
}

#root-article {
  flex: 75%;
}

/* Body and standard tags */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0px;
}

main p {
  text-align: justify;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
}

img {
  border-radius: 6px;
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

figure {
  margin: auto;
  /*margin: 10px;*/
  border: 2px #333 solid;
  border-radius: 6px;
  padding: 20px 20px 5px 20px;
  max-width: 50%;
}

/* Special classes */

.dropdown_nav {
  display: none;
}

.head-bar {
  border: 2px black solid;
}

.framed-article {
  margin: 25px;
  padding: 5px 25px;
  border: 2px #333 solid;
  border-radius: 6px;
  max-width: 100%;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.framed-article-half {
  flex: 50%;
  padding: 5px 25px;
  border: 2px #333 solid;
  border-radius: 6px;
  max-width: 100%;
}

.tile {
  display: flex;
  flex-wrap: wrap;
}

.tile article {
  flex: 40%;
  max-width: auto;
  padding: 0px 15px 0px 15px;
  border: 2px gray solid;
  border-radius: 6px;
  margin: 5px;
}

.tile figure {
  flex: 40%;
  max-width: auto;
  padding: 15px;
  border: 2px gray solid;
  border-radius: 6px;
  margin: 5px;
}

#page-break {
  min-width: 100%;
  min-height: 30px;
  background-color: #333;
  display: none;
}

/* Footer */

footer {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #333;
}

footer a {
  color: rgb(189, 212, 255);
  padding: 0;
}

/* Figure resize at 1500px */

@media screen and 
(max-width: 1500px) {
  figure {
    max-width: 60%;
  }
  .tile figure {
    max-width: auto;
  }
}

/* Flex side nav to top of screen and resize figure */

@media screen and 
(max-width: 1200px) {
  header, #main-w-aside{
    flex-direction: column;
  }  
  #main-w-aside, #main-wo-aside {
    padding-left: 10%;
    padding-right: 10%;
  }
  figure {
    max-width: 70%;
  }
  .tile figure {
    max-width: auto;
  }
}

/* Mobile View */

@media only screen 
and (max-width: 510px) {
  figure {
    max-width: 100%;
  }
  .tile {
    flex-direction: column;
  }
  .tile article {
    max-width: 100%;
  }
  .tile figure {
    max-width: 100%;
  }
  .block-navigation {
    display: none;
  }
  #side-navigation {
    padding: 20px 10%;
  }

  #page-break {
    display: inline-block;
  }

  /* Mobile nav button */
  .dropdown_button {
    font-size: 18px;
    position: fixed;
    top: -3px;
    right: -3px;
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border: 2px #333 solid;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  .dropdown_button:hover, .dropdown_button:focus {
    color: black;
    background-color: #ddd;
  }
  .dropdown_nav {
    position: relative;
    display: inline-block;
  }
  .dropdown_content {
    display: none;
    position: fixed;
    top: 45px;
    right: -3px;
    z-index: 1;
  }
  .dropdown_content a {
    color: white;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    background-color: #333;
    border: 2px #333 solid;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
  }
  .dropdown_content a:hover {
    color: black;
    background-color: #ddd;
    border: 2px #333 solid;
    border-radius: 2px;
  }
  .show {
    display: block;
  }
}